
a {
    color: #FFFFFF;
}

.main-body {
    margin: 10px;
    padding-top: 100px;
}

ul {
    margin-top: 20px;
}

.resource_title {
    color: black;
}

.label {
    margin-left: 2px;
    margin-right: 2px;
}

.typed_element{
        text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
 }

 .wrap_typed{
     font-size: 44px;
     text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
     text-align: center;
 }
.main-header {
    padding-top: 70px;
    background: url(/img/IMG_6800.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
    min-height: 300px;
}