
a {
    color: #FFFFFF;
}

.main-body {
    margin: 10px;
    padding-top: 100px;
}

ul {
    margin-top: 20px;
}

.resource_title {
    color: black;
}

.label {
    margin-left: 2px;
    margin-right: 2px;
}
